*{
	margin: 0;
	padding: 0;
}
p{
	
	margin-left: 10px;
	font-family: "Roboto",Arial;
	font-size: 14px;
	color: white;
	text-align: center;
}
img{
	margin-top: 10px;
	width: 150px;
	height: 40px;

}
#tabla{
	font-family: Arial;
	float: none;
	margin-left: 260px;
	width: 800px;
	margin-top: 10%;
}
h4{
	margin-top: 5px;
	font-family: Arial;
	color: black;
	font-size: 14px;
}
#menu_icono{
	position: absolute;
	height: 90.5%;
	margin-top: 4.4%;
	

}
#menu_up{
	position: absolute;
	height: 10%;
	width: 100%;
	
}

#ajustes{
	color: white; 
	font-family: Arial; 
	font-size: 15px; 
	margin-left: 198px;
	float: right;
	margin-top: 20px;
}
#form{
	font-family: Arial;
	float: none;
	margin-left: 230px;
	width: 1000px;
	height: 500px;
	padding: 2px;
	margin-top: 10%;
	overflow: auto;
}

#dropdown1 {
    left: 112px !important;
}

.icon{
	color: #fff;
	text-align: center;
	width: 90px;
	margin-top: 30px;
}

.icon:hover{
	color: #19ffff;
	
}
ul>.icon> a:hover{
	color: red !important;
}
.icon i{
	font-size: 40px;
	color: inherit;
}
ul .icon a {
	color: inherit;
}




