*{
	margin: 0;
	padding: 0;
}

li p:hover{
    background-color: yellow;
}
p{
	margin: 4px;
	margin-left: 5px;
	
	font-family: "Roboto",Arial;
	font-size: 14px;
	color: white;
	text-align: center;
}
img{
	margin-top: 10px;
	width: 150px;
	height: 40px;

}
#tabla{
	font-family: Arial;
	float: none;
	margin-left: 200px;
	width: 800px;
	margin-top: 10%;
}
h1{
	margin: 7%;
	font-family: Arial;
	color: black;
	font-size: 14px;
}

.icono{
	align-items: center;
}
#menu_icono{
	position: absolute;
	height: 90%;
	margin-top: 4.5%;
}
#menu_up{
	position: absolute;
	height: 10%;
	width: 100%;
	
}
.icono{
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	text-align: center;
}
#ajustes{
	color: white; 
	font-family: Arial; 
	font-size: 15px; 
	margin-left: 198px;
	float: right;
	margin-top: 20px;
}

